<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rebel Wireless{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', path='img/favicon.png') }}">

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Flowbite -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />

    <!-- Particle.js -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>

    {% block head %}{% endblock %}
</head>

<body class="min-h-screen flex flex-col bg-black text-white antialiased">

    <!-- Swetrix Analytics -->
    <script src="https://swetrix.org/swetrix.js" defer></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        swetrix.init('Bh7mezWDfqBI', {
          apiURL: 'https://api.metrics.panel.ovcraft.com/log',
        })
        swetrix.trackViews()
      })
    </script>
    
    <noscript>
      <img
        src="https://api.metrics.panel.ovcraft.com/log/noscript?pid=Bh7mezWDfqBI"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      />
    </noscript>

    {% include "partials/navbar.html" %}

    <main class="pt-20 flex-grow">
        {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}

    <!-- Flowbite JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>

